@import '@/components/app/App.scss';

.button {
  box-sizing: border-box;
  display: block;
  width: 80%;
  margin-top: 10px;
  padding: 10px;
  border: none;
  border-radius: 8px;
  border-radius: 4px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  font-size: 16px;

  &:enabled {
    background-color: $secondary_color;
    color: white;

    &:hover {
      padding: 7px;
      border-width: 3px;
      border-style: solid;
      border-color: black;
      background-color: transparent;
      box-shadow: none;
      color: black;
      cursor: pointer;
    }
  }

  &:disabled {
    background-color: #bebebe;
  }
}
