@import '@/components/app/App.scss';

.navbar {
  box-sizing: border-box;
  display: flex;
  // box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  z-index: 1;
  position: fixed;
  flex-direction: row;
  align-items: center;
  // justify-content: space-between;
  width: 100%;
  height: $navbar_height;
  margin-top: 0;
  padding: 10px;
  // background: linear-gradient(
  //   45deg,
  //   rgb(101, 185, 236) 0%,
  //   rgb(66, 230, 248) 100%,
  //   rgb(20, 216, 255) 100%
  // );
  // background: linear-gradient(
  //   45deg,
  //   rgb(101, 185, 236) 0%,
  //   rgb(24, 128, 139) 100%,
  //   rgb(6, 128, 67) 100%
  // );
  // background-color: #197d8f;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  font-weight: 500;
  font-size: 18px;

  .item {
    &.homeLink {
      padding: 10px;
      border-radius: 4px;
      background-color: $secondary_color;
      color: white;
      text-decoration: none;

      &:hover {
        padding: 7px;
        border-width: 3px;
        border-style: solid;
        border-color: black;
        // padding: inherit;
        background-color: transparent;
        color: black;
      }
    }

    + .item {
      margin-left: 10px;
      // background-color: aquamarine;
    }
  }

  // .item + .item {
  //   margin: 10px;
  // }
}
