@import '@/components/app/App.scss';

.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: calc(100vh - #{$navbar_height});
  // overflow: auto;
  width: 100%;
  // overflow-x: scroll;

  .newCourses {
    width: 85%;

    // @media (max-width: 1400px) {
    //   width: 90%;
    // }

    // width: auto;

    h1 {
      text-align: center;
    }

    .items {
      width: 100%;
      // overflow: hidden;
      flex-wrap: wrap;
      justify-content: center;

      display: flex;
    }
  }
}
