@import '@/components/app/App.scss';

.footer {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  // background-color: #DCF6FF;
  height: $footer_height;
  padding: 5px;
  // background-color: $primary_color;
  background: linear-gradient(
    45deg,
    rgb(101, 185, 236) 0%,
    rgb(66, 230, 248) 100%,
    rgb(20, 216, 255) 100%
  );

  p {
    // color: white;
    color: black;
    text-align: center;
  }
}
