@import '@/components/app/App.scss';

.menuItem {
  display: block;
  // box-sizing: border-box;
  margin: 0.25em;
  padding: 5px;
  color: black;
  text-decoration: none;
  // border: 'none';

  &:hover {
    // background-color: rgba(0, 79, 99, 0.2);
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.1);
    // background-color: white;
    // background-color: $secondary_color;
    // color: white;

    // border-style: solid;
    // border-color: black;
    // border-width: 0 0 3px 0;
  }

  a {
    display: block;
    text-decoration: inherit;
    // width: 100%;
    // padding: 10px;
  }

  // a:active {
  //   background-color: green;
  // }
}

.active {
  // background-color: rgba(0, 79, 99, 0.2);
  border-radius: 5px;
  // background-color: $secondary_color;
  // color: white;
  // // background-color: white;

  // border-style: solid;
  // border-color: black;
  // border-width: 0 0 3px 0;
  background-color: rgba(0, 0, 0, 0.1);
  color: $secondary_color;
}
